{
  "env": {
    "production": {
      "presets": ["react", "react-optimize"]
    },
    "development": {
      "presets": ["react"]
    },
    "test": {
      "presets": ["react"]
    }
  },
  "only": [
    "test/js/**"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
