*.class
*.jar
*jar
*~
.*.sw*
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.sw*
/.lein-*
/.nrepl-port
/checkouts/
/classes/
/lib/
/node_modules/
/target/
pom.xml
pom.xml.asc
