*.class
*.DS_Store
*.jar
*jar
*~
*.rs.bk
.s*
.*.sw*
*.rs.bak
*.bak
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.lein-*
/.nrepl-port
Cargo.lock
/checkouts/
/classes/
/node_modules/
/out/
target/
pom.xml
pom.xml.asc
/.cljs_node_repl/
/.cljs_rhino_repl/
/addon/built/index.js
/addon/node_modules/
/addon/release/datomish-test.xpi
/addon/release/datomish.js
/addon/release/index.js
/release-browser/cljs/
/release-browser/cljs_promises/
/release-browser/clojure/
/release-browser/constants_table.js
/release-browser/datomish.bare.js
/release-browser/datomish.js
/release-browser/datomish/
/release-browser/goog/
/release-browser/honeysql/
/release-node/cljs/
/release-node/cljs_promises/
/release-node/clojure/
/release-node/constants_table.js
/release-node/datomish.bare.js
/release-node/datomish.js
/release-node/datomish/
/release-node/goog/
/release-node/honeysql/
/edn/target/
/fixtures/*.db-shm
/fixtures/*.db-wal
/query-parser/out/

## Build generated
/sdks/swift/Mentat/build/
/sdks/android/**/build
DerivedData
build.xcarchive

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
/sdks/swift/Mentat/*.xcodeproj/project.xcworkspace/xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
/sdks/swift/Mentat/External-Dependencies

# Android & IntelliJ
**/*.iml
**/.idea
/sdks/android/**/local.properties

# Documentation
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
