*.class
*.jar
*jar
*~
.s*
.*.sw*
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.lein-*
/.nrepl-port
Cargo.lock
/checkouts/
/classes/
/node_modules/
/out/
/target/
pom.xml
pom.xml.asc
/.cljs_node_repl/
/.cljs_rhino_repl/
/addon/built/index.js
/addon/node_modules/
/addon/release/datomish-test.xpi
/addon/release/datomish.js
/addon/release/index.js
/release-browser/cljs/
/release-browser/cljs_promises/
/release-browser/clojure/
/release-browser/constants_table.js
/release-browser/datomish.bare.js
/release-browser/datomish.js
/release-browser/datomish/
/release-browser/goog/
/release-browser/honeysql/
/release-node/cljs/
/release-node/cljs_promises/
/release-node/clojure/
/release-node/constants_table.js
/release-node/datomish.bare.js
/release-node/datomish.js
/release-node/datomish/
/release-node/goog/
/release-node/honeysql/
